/* Сброс отступов и стилей списка и полоса */
body {
    background-color: #fff;
    max-width: 1920px;
}
ul, h2, h1, body, p, button, ul hr, li {
    margin: 0;
    padding: 0;
}
button, input {
    background: #fff;
    border: none;
}
a {
    text-decoration: none;
    color: #000;
}
ul {
    display: flex;
}
li {
    list-style: none;
}
hr {
    border: 1px solid #e5e5e5;
    max-width: 1920px;
    margin-bottom: 30px;
}


/* Оболочка */
.wrapper {
    max-width: 1920px;
    background: #EFEFEF;
    padding-left: 10px;
    padding-right: 10px;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
}


/* Хедер */
.header {
    transition: all 0.5s ease-out;
    margin-bottom: 20px;
}

.header-list {
    color: #333333;
    padding-top: 25px;
    padding-bottom: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.item-list {
    margin-right: 30px;
    line-height: 16px;
}
.item-list:last-child {
    margin: 0;
}

/* Верх контента */

.main-top-content { 
    transition: all 0.5s ease-out;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}

.main-list {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-list-item {
    font-size: 16px;
    line-height: 19px;
    margin-right: 40px;
}
.header-list-item-link {
    text-decoration: none;
    color: #333333;
}

.main-list-item-link {
    text-decoration: none;
    color: #000000;
}

.logo-image {
    margin-right: 20px;
    margin-bottom: auto;
    margin-top: auto;
}

.headline {
    font-size: 36px;
    font-weight: 700;
    line-height: 42px;
    letter-spacing: 0.1em;
    color: #66C05D;
    margin-bottom: auto;
    margin-top: auto;
}

.logo-a {
    align-items: center;
    display: flex;
    justify-content: flex-start;
}

.span-button {
    display: flex;
    justify-content: flex-end;
}

.tel {
    min-width: 127px;
    display: block;
    margin-bottom: auto;
    margin-top: auto;
}

.tel-a {
    text-decoration: none;
    color:inherit;
}

.tel-a:hover {
    color: #66C05D;
}

.callback {
    margin-bottom: auto;
    margin-top: auto;
    padding: 13px 27px;
    margin-left: 40px;
    border: 2px solid#66C05D;
    border-radius: 30px;
    background-color: #fff;
}

/* Нижняя часть main contenta */
.main-bottom-content {
    transition: all 0.5s ease-out;
    margin-bottom: 30px;
}


/* Background */
.bg-container {
    background: url("/img/background.png");
    background-position: center center;
    background-repeat: no-repeat;    
    background-size: cover;    
    width: 100%;
    height: 604px;
}

/* Центральная часть на бекграунде */

.content {
    transition: all 0.5s ease-out;

    color: #ffffff;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
}

.h1 {
    margin-bottom: 50px;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
}

.text {
    max-width: 308px ;
    margin-bottom: 50px;
    font-size: 14px;
    line-height: 20px;
}

.button-about {
    min-width: 140px;
    color: inherit;
    text-decoration: none;
    border: 2px solid #fff;
    border-radius: 30px;
    padding: 13px 27px;
    background-color: #66C05D;
}

/* Товар */
/* Сэйл контейнер */
.sale {
    transition: all 1s ease-out;


    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 100px;
    padding-bottom: 40px;
}

.sale-item {
    transition: all 0.5s ease-out;

    display: flex;
    flex-direction: column;
    margin-right: 20px;
    align-items: center;
    background-color: #fff;
    max-width: 250px;
    max-height: 363px;
}

.sale-item:last-child {
    margin-right: 0;
}

.sale-item-image {
    max-width: 125px;
    max-height: 166px;
    padding-top: 25px;
    padding-bottom: 20px;
    padding-left: 65px;
    padding-right: 65px;
}
.sale-h2-img {
    display: flex;
    justify-content: space-between;
    padding-top: 80px;
    flex-wrap: wrap;
}

.sale-item-name {
    padding-bottom: 20px;
    max-width: 190px;
    font-size: 14px;
    line-height: 20px;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
}

.sale-item strong {
    padding-bottom: 20px;
    font-size: 21px;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: 0.05em;
}

.item-button {
    display: block;
    background-color: #66C05D;
    color: #fff;
    border-radius: 30px;
    padding: 9px 40px;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.05em;
    margin-bottom: 25px;
}


/* Перед футером */
.mail-map {
    transition: all 0.5s ease-out;

    display: flex;
    justify-content: space-between;
    
    color: #fff;
    min-height: 240px;
    padding-bottom: 132px;
}
/* Первая колонка */
.mail {
    display: flex;
    align-items: flex-start;

    min-width: 45%;
    background-color: #66c05d;
    margin-right: 30px;
    padding-left: 40px;
    padding-top: 35px;
    position: relative;
}

.h3 {
    max-width: 250px;
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    margin-bottom: 25px;    
}

.mail-text {
    max-width: 231px;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 25px;
}

.mail-input {
    min-width: 225px;
    border-radius: 30px;
    color: #c4c4c4;
    font-size: 14px;
    line-height: 16px;
    padding: 9px 0 9px 25px;
    margin-bottom: 35px;
}

.mail-img {
    position: absolute;
    right: 30px;
}


/* Вторая колонка */
.map {
    display: flex;
    flex-direction: column;
    width: 45%;
    background-color: #66c05d;
    padding-left: 40px;
    padding-top: 35px;
}

.map-text {
    max-width: 141px;
    padding-bottom: 25px;
}

.map-button {
    max-width: 170px;
    color: #ffffff;
    border: 2px solid #ffffff;
    border-radius: 30px;
    background-color: #66c05d;
    padding: 9px 28px;
    margin-bottom: 35px;
}


/* Футер */
.footer {
    transition: all 0.5s ease-out;

    margin-top: 38px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    margin-bottom: 38px;
}

.footer-li {
    margin-right: 16px;
}
.footer-li:last-child {
    margin-right: 0;
}

.footer-li-a {
    color: #66c05d;
    padding: 5px;
}

.footer-center {
    font-size: 14px;
    line-height: 16px;
    margin-left: 205px;
    margin-right: 105px;
}

.footer-tel {
    min-width: 127px;
    font-size: 16px;
    line-height: 19px;
    margin-right: 40px;
}

.footer-button {
    border-radius: 30px;
    border: 2px solid #66c05d;
    font-size: 14px;
    line-height: 16px;
    padding: 12px 26px;
    min-width: 170px;
}

/* Футер */

.copyright {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #EFEFEF;
    color: #828282;
    padding: 25px 0;
}

/* Медиа-запросы  1100px*/
 @media (max-width:1100px) {
     .wrapper {
        max-width: 1750px;
        background: #EFEFEF;
     }
    .container {
        max-width: 950px;
    }
    .main-top-content{
        transition: all 0.5s ease-out;
    }
    .sale {
        transition: all 0.5s ease-out;
        justify-content: center;
    }
    .sale-item {
        margin-right: 20px;
    }
    .sale-item:nth-child(1),
    .sale-item:nth-child(2) {
        margin-bottom: 20px;
    }
    .sale-item:nth-child(3) {
        margin-right: 0;
    }
    .mail-map {
        transition: all 0.5s ease-out;
        flex-wrap: wrap;
    }
    .mail { 
        margin-right: 0;
    }
    .map {
        margin-right: 0;

    }
    .footer-center {
        font-size: 14px;
        line-height: 16px;
        margin-left: 150px;
        margin-right: 70px;
    }
    .footer-tel {
        min-width: 127px;
        font-size: 16px;
        line-height: 19px;
        margin-right: 20px;
    }
}








 @media (max-width: 900px) {
     .wrapper {
        max-width: 1400px;
        background: #EFEFEF;
     }
    .container {
        max-width: 750px;
    }
    .main-top-content{
        transition: all 0.5s ease-out;
    }
    .sale {
        justify-content: center;
    }
    .sale-item:nth-child(1),
    .sale-item:nth-child(3) {
        margin-right: 20px;
    }
    .sale-item:nth-child(2n) {
        margin-right: 0;
    }
    .footer-li {
        margin-right: 2px;
    }
    .footer-li:last-child {
        margin-right: 0;
    }
    .footer-center {
        margin-left: 10px;
        margin-right: 10px;
    }
    .footer-tel {
        min-width: 127px;
        font-size: 16px;
        line-height: 19px;
        margin-right: 10px;
    }
    .mail-map {
        /* flex-wrap: wrap; */
        transition: all 0.5s ease-out;
    }
    .mail {
        margin-left: 20px;
        margin-right: 0;
        width: 90%;
        margin-bottom: 20px;
    }
    .map {
        margin-left: 20px;
        margin-right: 0;
        width: 90%;
    }
    .footer-center {
        font-size: 14px;
        line-height: 16px;
        margin-left: 5px;
        margin-right: 5px;
    }
    .footer-tel {
        min-width: 127px;
        font-size: 16px;
        line-height: 19px;
        margin-right: 5px;
    }
    .footer-li {
        margin-right: 2px;
    }
    .footer-li:last-child {
        margin-right: 0;
    }
    .sale-h2-img {
            padding-top: 40px;
    }
} 






@media (max-width: 650px) {
    .wrapper {
        max-width: 1100px;
        background: #EFEFEF;
    }
    .container {
        margin-left: auto;
        margin-right: auto;
        max-width: 500px;
    }
    .main-top-content{
        transition: all 0.5s ease-out;
    }
    .sale-h2-img .h2 {
        margin-bottom: 10px;
    }
    .map {
        min-width: 50%;
    }
    .mail {
        min-width: 50%;
    }
    .mail-img {
        margin-left: 34px;
    }
    .footer-li {
        margin-right: 0px;
    }
    .footer-center {
        margin-left: 5px;
        margin-right: 5px;
    }
    .footer-tel {
        min-width: 127px;
        font-size: 16px;
        line-height: 19px;
        margin-right: 10px;
    }
    .mail-img {
        margin-left: 10px;
    }
    .mail-map {
        padding-bottom: 12px;
        flex-wrap: wrap;
    }
    .mail {
        margin-right: 0;
        min-width: 300px;
        margin-bottom: 20px;
    }
    .map {
        margin-right: 0;
    }
    .footer-center {
        margin-left: 2px;
        margin-right: 2px;
    }
    .footer-tel {
        min-width: 127px;
        margin-left: 6px;
    }
    .footer-li {
        margin-right: 2px;
    }
    .footer-li:last-child {
        margin-right: 0;
    }
    .main-list-item {
        font-size: 16px;
        line-height: 19px;
        margin-right: 5px;
    }
    .logo-image {
        margin-right: 0px;
    }
    .callback {
        padding: 5px 15px;
            margin-left: 5px;
    }
    .footer-button {
        padding: 5px 13px;
        min-width: 100px;
    }
    .item-list {
        margin-right: 10px;
        line-height: 16px;
    }
    .item-list:last-child {
        margin: 0;
    }
    .main-top-content {
        display: none;
    }
    hr {
        display: none;
    }
    .sale-h2-img {
        padding-top: 40px;
    }
    .sale {
        justify-content: center;
        align-items: center;
        margin-bottom: 30px;
    
    }
    .sale-item:nth-child(3) {
        margin-bottom: 20px;
    }
}

@media (max-width: 650px) {
    .wrapper {
        max-width: 800px;
        background: #EFEFEF;
    }
    .container {
        margin-left: auto;
        margin-right: auto;
        max-width: 400px;
    }
    .sale {
        justify-content: center;
    }
    
    .sale-item:last-child {
        margin-bottom: 0;
    }
    .mail {
        width: 95%;
    }
    .map {
        width: 95%;
    }
    .sale-item:nth-child(1),
    .sale-item:nth-child(3) {
        margin-right: 0;
    }
}